.main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    text-align: center;
    margin-right: 10px;
}
.container-div{
    display: flex;
    
}
.developer-cart{
    text-align: center;
    justify-content: center;
}
    